@import url("https://use.typekit.net/sej7doj.css");
/* line 2, src/scss/3-global/_global.scss */
html {
  box-sizing: border-box;
}

/* line 5, src/scss/3-global/_global.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, src/scss/3-global/_global.scss */
body {
  font-family: futura-pt;
  font-weight: 400;
  line-height: 1.4;
}

/* line 16, src/scss/3-global/_global.scss */
svg {
  fill: currentColor;
}

/* line 1, src/scss/4-elements/_links.scss */
.loginLink {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}

/* line 1, src/scss/4-elements/_tables.scss */
table {
  margin: 1rem 0;
  text-align: left;
  border-collapse: collapse;
}

/* line 7, src/scss/4-elements/_tables.scss */
thead {
  border-bottom: solid thin;
}

/* line 15, src/scss/4-elements/_tables.scss */
td,
th {
  vertical-align: top;
  padding: 0.5em 0 0.5em 0.75em;
}

/* line 20, src/scss/4-elements/_tables.scss */
td:last-child,
th:last-child {
  padding-right: 0.75em;
}

/* line 1, src/scss/4-elements/_forms.scss */
.field-wrapper {
  margin-bottom: 2em;
  max-width: 40em;
  position: relative;
}

/* line 7, src/scss/4-elements/_forms.scss */
label {
  font-family: futura-pt;
  font-weight: 700;
  margin: 0.5em 0;
  display: block;
}

/* line 13, src/scss/4-elements/_forms.scss */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="search"],
textarea {
  border: solid thin black;
  display: block;
  width: 100%;
  padding: 0.75em 1em;
  -webkit-appearance: unset;
}

/* line 1, src/scss/5-templates/_app.scss */
.site-wrapper {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas: "header" "menu" "content" "footer";
  min-height: 100vh;
}

/* line 8, src/scss/5-templates/_app.scss */
.siteHeader-wrapper {
  background: #ffea47;
  color: white;
  overflow: hidden;
  grid-area: header;
  border-bottom: 0.2em solid #49c5d4;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 12, src/scss/5-templates/_app.scss */
.siteHeader-wrapper a {
  color: white;
  text-decoration: none;
}

/* line 23, src/scss/5-templates/_app.scss */
.siteContent-wrapper {
  grid-area: content;
  background-image: url("background.jpg");
  background-size: cover;
}

/* line 29, src/scss/5-templates/_app.scss */
.siteContent {
  margin: 0 auto;
  padding: 2rem;
  max-width: 60rem;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  font-size: 1.2em;
}

/* line 38, src/scss/5-templates/_app.scss */
.siteFooter-wrapper {
  background: #ffea47;
  color: white;
  overflow: hidden;
  padding: 1rem;
  grid-area: footer;
  border-top: 0.2em solid #49c5d4;
}

/* line 43, src/scss/5-templates/_app.scss */
.siteFooter-wrapper a {
  color: white;
  text-decoration: none;
}

/* line 1, src/scss/6-components/_siteHeader.scss */
.siteHeader {
  display: inline;
  height: 12rem;
  padding: 1rem 0;
}

/* line 7, src/scss/6-components/_siteHeader.scss */
.siteHeader-logo {
  display: inline-block;
  width: 20em;
}

/* line 12, src/scss/6-components/_siteHeader.scss */
.logoLettering {
  fill: #49c5d4;
  width: 15em;
}

/* line 1, src/scss/6-components/_siteNav.scss */
.siteNav {
  display: inline-block;
}

/* line 3, src/scss/6-components/_siteNav.scss */
.siteNav ul {
  margin: 0;
}

/* line 7, src/scss/6-components/_siteNav.scss */
.siteNav li {
  font-size: 1.2em;
  list-style: none;
  border-left: 0.2rem solid #49c5d4;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

/* line 17, src/scss/6-components/_siteNav.scss */
.siteNav a {
  color: #49c5d4;
}

/*# sourceMappingURL=style.css.map */