@mixin padder {
  padding-right: 1rem;
  padding-left: 1rem;

  @include media(momma) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  @include media(poppa) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
